body {
	background-color: black;
	height: 800px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}
	/* HEADER */
	/* HEADER */

header {
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	padding: 5px 0px 5px 0px;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
	height: 35px;
	background-color: rgb(35, 35, 35);
	z-index: 10;
	text-transform: uppercase;
}
h1 {
	color: white;
	margin: 0px 0px 0px 5px;
	float: left;
}
h1 a{
	text-decoration: none;
	color: white;
}
#menu-small-screen {
	float: right;
	padding: 7px 12px 0px 7px;
	position: relative;
	height: 35px;
	color: gray;
	margin-top: 4px;
	text-transform: uppercase;
	font-size: 12px;
}
#menu-small-screen span {
	padding-left: 5px;
}
#menu-small-screen:hover .dropdown-content {
	display: block;
}
#menu-small-screen:hover {
	color: orange;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: rgb(35, 35, 35);
	width: 59px;
	padding: 0px;
	z-index: 1;
	right: 0px;
}
.dropdown-content ul {
	list-style: none;
	padding: 0px;
	margin: 15px 0px 0px 0px;
	width: 50px;
}
.dropdown-content a {
	background-color: rgb(35, 35, 35);
	color: gray;
	border: none;
	padding: 15px 0px 15px 3px;
	width: 100%;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	right: 0px;
}
.dropdown-content a:hover {
	color: orange;
}

#menu-big-screen {
	display: none;
	height: 38px;
	float: right;
}
#menu-big-screen a {
	padding: 8px 12px;
	text-align: center;
	text-decoration: none;
	color: gray;
	margin: 0px;
}
#menu-big-screen a:hover {
	color: orange;
}

@media (min-width: 800px) {
	#menu-small-screen { display: none; }
	.dropdown-content { display: none; }
	.dropdown-content ul { display: none; }
	.dropdown-content a { display:none; }
	#menu-big-screen { 
		display: inline-block;
	}
	#menu-big-screen a {
		display: inline-block;
		padding: 8px 10px;
	}
		header {
			background-color: rgba(35, 35, 35, 0.8)
	}
}
@media (min-width: 1080px) {
	h1 { 
		margin-left: 15%;
	}
	#menu-big-screen { 
		display: inline-block;
		margin-right: 10%;
	}
}
	/* HEADER */
	/* HEADER */

	/* MAIN */
	/* MAIN */

	main {
		height: 1000px;
	}


	/* MAIN */
	/* MAIN */